<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_INodeService1" />
        <binding name="NetTcpBinding_INodeService2" />
        <binding name="NetTcpBinding_INodeService3" />
        <binding name="NetTcpBinding_INodeService4" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8010/Service1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService1" contract="NodeService1.INodeService1"
                name="NetTcpBinding_INodeService1">
        <identity>
          <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8020/Service2" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService2" contract="NodeService2.INodeService2"
                name="NetTcpBinding_INodeService2">
        <identity>
          <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8030/Service3" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService3" contract="NodeService3.INodeService3"
                name="NetTcpBinding_INodeService3">
        <identity>
          <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8040/Service4" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService4" contract="NodeService4.INodeService4"
                name="NetTcpBinding_INodeService4">
        <identity>
          <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="MasterServiceLibrary.MasterService" behaviorConfiguration="mexBehavior">
        <endpoint address="Service1" binding="basicHttpBinding"
                  contract="MasterServiceLibrary.IMasterService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8081/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>