<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_INodeService1" />
                <binding name="NetTcpBinding_INodeService2" />
                <binding name="NetTcpBinding_INodeService3" />
                <binding name="NetTcpBinding_INodeService4" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8010/Service1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService1" contract="NodeService1.INodeService1"
                name="NetTcpBinding_INodeService1">
                <identity>
                    <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8020/Service2" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService2" contract="NodeService2.INodeService2"
                name="NetTcpBinding_INodeService2">
                <identity>
                    <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8030/Service3" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService3" contract="NodeService3.INodeService3"
                name="NetTcpBinding_INodeService3">
                <identity>
                    <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8040/Service4" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INodeService4" contract="NodeService4.INodeService4"
                name="NetTcpBinding_INodeService4">
                <identity>
                    <userPrincipalName value="DESKTOP-T41QO6T\Yuriy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>